body{
 overflow-x:hidden;
}
.navbar{
	background-color:#C4C4C4;
	height:79px;
	
}
.navbar-items{
	display:flex;
	flex-direction:row;

	
	transform: translate(1%,5%);
	position:relative;
}

.navbar-items h3{
	margin-left:50px;
	font-size:25px;
   font-family: 'Creepster', cursive;
   color:#fff;
}
.navbar-items a{
	display:flex;
	margin:25px;
	position:relative;
	left:380px;
	top: 2px;
	font-size:19px;
	color:#FFF;
	
	
	
}

.user{
	display:flex;
	flex-direction:column;
	text-align:center;
	font-size:20px;
	margin-top:20px;
	font-style:normal;
}
.user-item p{
	width:100%;
	text-align:center;
	font-size:18;
	line-height:10px;
}

.user-atribut{
 border: 1px solid #000;
 width:80%;
 text-align:center;
 position:absolute;
 left:10%;
 top:59%;
}

.header h1{
 text-align:center;
 margin-top:70px;
 font-size:35px;
}

.header-content{
 width:81%;
 
 transform: translate(13%,0%);
 height: 1400px;
 display: flex;
 background-color: #C4C4C4;
 
}

.content-left h4{
	transform: translate(30%,230%);
	font-size: 21px;
}

.content-left{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

.header-img img{

 width: 350px;
 height: 250px;
 transform: translate(30%,20%);
 

 

} 

.header-img p{
 width:100%;
 height: 40px;
 transform: translate(30%,-19	5%);
 text-align: center;
 background-color: #fff;
 font-size: 25px;
 
 
}
.stroke{
	border: 2px solid #fff	;
	position: relative;
	right: -160px;
	top: 80px;
	height: 90%;
}

.content-right h4{
 font-size:21px ;
 width: 150%;
 transform: translate(20%,160%);	
}
.Article{
	margin-top: -120px;
}
.Article img{
	width:250px ;
	height:150px ;
	transform: translate(85%,94%);
	float: left;
	
}

.Article h5{
	font-size: 22px;
	transform: translate(615%,-10%);
	border-bottom: 1px solid #000;
	width: 11%;
}
.Article p{
	font-size: 15px;
	transform: translate(225%,-80%);
	width: 30%;
}

.stroke-2{
	border: 1px solid #fff;
	position: relative;
	top: 50px;
	right: -210px;
	width: 60%;
}

.form-elements{
	background-color: #fff;
	width: 60%;
	text-align:center ;
	transform: translate(48%,50%);
	font-size: 17px;
	height: 140px;
	padding-top: 1px;
	
}

.properties{
	background-color: #fff;
	width: 60%;
	text-align:center ;
	transform: translate(48%,80%);
	font-size: 17px;
	height: 100px;
	padding-top: 1px;
}
.mobile{
	background-color: #fff;
	width: 60%;
	text-align:center ;
	transform: translate(48%,100%);
	font-size: 17px;
	height: 100px;
	padding-top: 1px;
}
