
#langit{
    width: 100%;
    height: 80%;
    background-color: lightskyblue;
}
#bulan{
    position:relative;
    right:120px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    transition: 1000ms;
    background-color: #fff;
}
#bumi{
    width: 100%;
    height: 20%;
    background-color: burlywood;
}